.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 80px;
    display: flex;
}

.nav-item {
    display: flexbox;
    flex-direction: row !important;
    margin: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nav-link {
    flex-direction: column;
    flex-wrap: nowrap;
    color: black !important;
}